@theme {
  --animate-shakeX: shakeX 1.5
    linear(
      0,
      0.451 2.4%,
      0.745 4.5%,
      0.853 5.6%,
      0.922 6.6%,
      0.965 7.6%,
      0.976 8.1%,
      0.981 8.7%,
      0.978 9.2%,
      0.969 9.7%,
      0.935 10.7%,
      0.873 11.8%,
      0.782 13%,
      0.589 15%,
      0.031 20.1%,
      -0.102 21.5%,
      -0.215 22.9%,
      -0.3 24.2%,
      -0.358 25.4%,
      -0.398 26.6%,
      -0.411 27.2%,
      -0.42 27.8%,
      -0.423 28.2%,
      -0.425 28.7%,
      -0.423 29.2%,
      -0.419 29.7%,
      -0.404 30.7%,
      -0.377 31.8%,
      -0.298 34%,
      -0.069 39.1%,
      0.027 41.6%,
      0.07 43%,
      0.103 44.4%,
      0.126 45.8%,
      0.139 47.2%,
      0.142 48.1%,
      0.142 49.1%,
      0.138 50.1%,
      0.13 51.2%,
      0.105 53.4%,
      0.036 58.2%,
      0.007 60.6%,
      -0.016 63.2%,
      -0.024 64.5%,
      -0.029 65.9%,
      -0.032 67.9%,
      -0.03 70.1%,
      -0.006 78.4%,
      0.001 82.9%,
      0.003 86.8%,
      0
    )
    infinite;

  --animate-spinX: spinX 10s linear infinite;
  --animate-spinY: spinY 10s linear infinite;
  --animate-spinZ: spinZ 10s linear infinite;
  --animate-flactuate-height: flactuateHeight 2s linear infinite, blinkBright 2s linear infinite;
  --animate-blink-bright: blinkBright 2s linear infinite;
  --animate-blink-neon:
    blinkNeon 2s cubic-bezier(0.4, 0, 0.6, 1) infinite, blinkBright 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-blink-neon-text: blinkNeonText 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-truckMoving: truckMoving 30s ease-in-out infinite;
  --animate-truckWheelSpin: truckWheelSpin 30s ease-in-out infinite;
  --animate-pulseY: pulseY 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-shadow-orbit: shadowOrbit 500ms linear infinite;
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@keyframes shakeX {
  0%,
  25% {
    --tx: 0;
  }
  100% {
    --tx: -20%;
  }
}

@keyframes spinX {
  0% {
    --rx: 0deg;
  }
  100% {
    --rx: 360deg;
  }
}

@keyframes spinY {
  0% {
    --ry: 0deg;
  }
  100% {
    --ry: 360deg;
  }
}

@keyframes spinZ {
  0% {
    --rz: 0deg;
  }
  100% {
    --rz: 360deg;
  }
}

@keyframes flactuateHeight {
  0% {
    --wave-phase: 0deg;
  }
  100% {
    --wave-phase: 360deg;
  }
}

@keyframes blinkBright {
  0%,
  100% {
    filter: brightness(calc(110% + var(--collided, 0) * 20%));
  }
  50% {
    filter: brightness(calc(120% + var(--collided, 0) * 20%));
  }
}

@keyframes blinkNeon {
  0%,
  100% {
    box-shadow: 0 0 10px 5px var(--ph-mustard-yellow);
  }
  50% {
    box-shadow: 0 0 20px 8px var(--ph-mustard-yellow);
  }
}

@keyframes blinkNeonText {
  0%,
  100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(130%);
  }
}

@keyframes truckMoving {
  0%,
  80%,
  100% {
    --dtx: 0%;
  }
  30% {
    --dtx: -320%;
  }
}

@keyframes truckWheelSpin {
  0% {
    --rz: 0deg;
  }
  30% {
    --rz: calc(-360deg * 10);
  }
  80%,
  100% {
    --rz: 0deg;
  }
}

@keyframes pulseY {
  0%,
  100% {
    translate: 0 0;
  }
  50% {
    translate: 0 6px;
  }
}

@keyframes shadowOrbit {
  0%,
  100% {
    filter: drop-shadow(0 0 10px var(--c)) drop-shadow(10px 0 5px var(--cc));
  }
  25% {
    filter: drop-shadow(0 0 10px var(--c)) drop-shadow(0 10px 5px var(--cc));
  }
  50% {
    filter: drop-shadow(0 0 10px var(--c)) drop-shadow(-10px 0px 5px var(--cc));
  }
  75% {
    filter: drop-shadow(0 0 10px var(--c)) drop-shadow(0px -10px 5px var(--cc));
  }
}
/*
@keyframes shadowOrbit {
  0%,
  99.9% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(10px 0 5px var(--cc));
  }
  11.1% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(5px 5px 5px var(--cc));
  }
  22.2% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(0px 10px 5px var(--cc));
  }
  33.3% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(-5px 5px 5px var(--cc));
  }
  44.5% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(-10px 0px 5px var(--cc));
  }
  55.5% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(-10px 0px 5px var(--cc));
  }
  66.6% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(-5px -5px 5px var(--cc));
  }
  77.7% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(0px -10px 5px var(--cc));
  }
  88.8% {
    filter: drop-shadow(0 0 5px var(--c)) drop-shadow(5px -5px 5px var(--cc));
  }
}*/
