@theme {
  --animate-shakeX: shakeX 1.5s
    linear(
      0,
      0.451 2.4%,
      0.745 4.5%,
      0.853 5.6%,
      0.922 6.6%,
      0.965 7.6%,
      0.976 8.1%,
      0.981 8.7%,
      0.978 9.2%,
      0.969 9.7%,
      0.935 10.7%,
      0.873 11.8%,
      0.782 13%,
      0.589 15%,
      0.031 20.1%,
      -0.102 21.5%,
      -0.215 22.9%,
      -0.3 24.2%,
      -0.358 25.4%,
      -0.398 26.6%,
      -0.411 27.2%,
      -0.42 27.8%,
      -0.423 28.2%,
      -0.425 28.7%,
      -0.423 29.2%,
      -0.419 29.7%,
      -0.404 30.7%,
      -0.377 31.8%,
      -0.298 34%,
      -0.069 39.1%,
      0.027 41.6%,
      0.07 43%,
      0.103 44.4%,
      0.126 45.8%,
      0.139 47.2%,
      0.142 48.1%,
      0.142 49.1%,
      0.138 50.1%,
      0.13 51.2%,
      0.105 53.4%,
      0.036 58.2%,
      0.007 60.6%,
      -0.016 63.2%,
      -0.024 64.5%,
      -0.029 65.9%,
      -0.032 67.9%,
      -0.03 70.1%,
      -0.006 78.4%,
      0.001 82.9%,
      0.003 86.8%,
      0
    )
    infinite;
}

@keyframes shakeX {
  0%,
  25% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
