@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@clerk/ui/themes/shadcn.css';
@import './utils.css';
@import './player.css';
@import './animations.css';
@plugin "@tailwindcss/typography";

:root {
  --background: oklch(0.207 0.01 285.49);
  --foreground: oklch(0.986 0.001 106.42);
  --primary: oklch(0.713 0.153 21.68);
  --primary-foreground: oklch(0.207 0.01 285.49);
  --secondary: oklch(0.793 0.12 185.6);
  --secondary-foreground: oklch(0.207 0.01 285.49);
  --tertiary: oklch(0.478 0.094 251.79);
  --tertiary-light: oklch(0.478 0.094 251.79);
  --tertiary-foreground: oklch(0.207 0.01 285.49);
  --accent: oklch(0.918 0.243 96.79);
  --accent-foreground: oklch(0.207 0.01 285.49);
  --muted: oklch(0.505 0.018 285.27);
  --muted-foreground: oklch(0.736 0.013 106.71);
  --card: oklch(0.247 0.013 285.37);
  --card-foreground: oklch(0.986 0.001 106.42);
  --popover: oklch(0.247 0.013 285.37);
  --popover-foreground: oklch(0.986 0.001 106.42);
  --destructive: oklch(0.636 0.208 25.38);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0 0 0);
  --input: oklch(0.986 0.001 106.42);
  --ring: oklch(0.986 0.001 106.42);
  --shadow-color: oklch(0 0 0);

  --ph-dark-cornflower-blue: oklch(0.481 0.096 252.15);
  --ph-dark-grey: oklch(0.46 0 0);
  --ph-cornflower-blue: oklch(0.662 0.13 256.35);
  --ph-soft-green: oklch(0.723 0.115 130.3);
  --ph-brown: oklch(0.599 0.08 65.29);
  --ph-hedgehog-spine: oklch(0.559 0.094 43.74);
  --ph-background: oklch(0.531 0.14 39.32);
  --ph-grey: oklch(0.807 0.011 243.69);
  --ph-light-cornflower-blue: oklch(0.884 0.056 255.89);
  --ph-beige: oklch(0.728 0.093 64.94);
  --ph-warm-red: oklch(0.642 0.17 39.11);
  --ph-mustard-yellow: oklch(0.78 0.141 73.61);
  --ph-warm-pink: oklch(0.755 0.122 40.75);
  --ph-hedgehog-body: oklch(0.833 0.099 62.33);
  --ph-light-beige: oklch(0.905 0.066 67.56);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-shadow-color: var(--shadow-color);

  --color-ph-pure-black: var(--ph-pure-black);
  --color-ph-dark-cornflower-blue: var(--ph-dark-cornflower-blue);
  --color-ph-dark-grey: var(--ph-dark-grey);
  --color-ph-cornflower-blue: var(--ph-cornflower-blue);
  --color-ph-soft-green: var(--ph-soft-green);
  --color-ph-brown: var(--ph-brown);
  --color-ph-hedgehog-spine: var(--ph-hedgehog-spine);
  --color-ph-background: var(--ph-background);
  --color-ph-grey: var(--ph-grey);
  --color-ph-light-cornflower-blue: var(--ph-light-cornflower-blue);
  --color-ph-beige: var(--ph-beige);
  --color-ph-warm-red: var(--ph-warm-red);
  --color-ph-mustard-yellow: var(--ph-mustard-yellow);
  --color-ph-warm-pink: var(--ph-warm-pink);
  --color-ph-hedgehog-body: var(--ph-hedgehog-body);
  --color-ph-light-beige: var(--ph-light-beige);
  --color-ph-pure-white: var(--ph-pure-white);

  --font-sans: 'Grandstander', sans-serif;
  --spacing-boxShadowY: 4px;
  --shadow-shadow: 0px var(--boxShadowY-dynamic, var(--spacing-boxShadowY)) 0px 0px
    color-mix(in oklch, var(--v-color, var(--border)), black 45%);
  --radius-base: 6px;
  --font-weight-base: 500;
  --font-weight-heading: 800;
}

@layer base {
  html {
    height: 100%;
    width: 100%;
    overflow: hidden;

    --scale: 1;

    --scene-width-scaled: calc(var(--original-scene-width) * var(--scale));
    --scene-height-scaled: calc(var(--original-scene-height) * var(--scale));
    --scene-world-unit-x: calc(var(--scene-width-scaled) / 100);
    --scene-world-unit-y: calc(var(--scene-height-scaled) / 100);

    --player-width-scaled: round(nearest, calc(var(--original-player-width) * var(--scale)), 1px);
    --player-height-scaled: round(nearest, calc(var(--original-player-height) * var(--scale)), 1px);
    --player-offset-y-scaled: calc(var(--player-offset-y) * var(--scene-world-unit-y));
  }

  body {
    @apply font-base text-foreground bg-background;
    height: 100%;
    width: 100%;
    background-image: url('https://res.cloudinary.com/dmukukwp6/image/upload/keyboard_garden_bg_light_03a349af5c.png');
    background-size: 100px 100px;
    background-repeat: repeat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@custom-variant data-pressed (&[data-pressed]);
