@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@clerk/ui/themes/shadcn.css';
@import './utils.css';
@import './player.css';
@import './animations.css';
@plugin "@tailwindcss/typography";

:root {
  --background: oklch(0.207 0.01 285.49);
  --foreground: oklch(0.986 0.001 106.42);
  --primary: oklch(0.713 0.153 21.68);
  --primary-foreground: oklch(0.207 0.01 285.49);
  --secondary: oklch(0.793 0.12 185.6);
  --secondary-foreground: oklch(0.207 0.01 285.49);
  --tertiary: oklch(0.6 0.16 260);
  --tertiary-foreground: oklch(0.207 0.01 285.49);
  --accent: oklch(0.918 0.243 96.79);
  --accent-foreground: oklch(0.207 0.01 285.49);
  --muted: oklch(0.505 0.018 285.27);
  --muted-foreground: oklch(0.736 0.013 106.71);
  --card: oklch(0.247 0.013 285.37);
  --card-foreground: oklch(0.986 0.001 106.42);
  --popover: oklch(0.247 0.013 285.37);
  --popover-foreground: oklch(0.986 0.001 106.42);
  --destructive: oklch(0.636 0.208 25.38);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0 0 0);
  --input: oklch(0.986 0.001 106.42);
  --ring: oklch(0.986 0.001 106.42);
  --shadow-color: oklch(0 0 0);

  --scale: 1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-shadow-color: var(--shadow-color);

  --font-sans: 'Grandstander', sans-serif;
  --spacing-boxShadowY: 4px;
  --shadow-shadow: 0px var(--boxShadowY-dynamic, var(--spacing-boxShadowY)) 0px 0px
    color-mix(in oklch, var(--v-color, var(--border)), black 45%);
  --radius-base: 6px;
  --font-weight-base: 500;
  --font-weight-heading: 800;
}

@layer base {
  html {
    height: 100%;
    width: 100%;
  }

  body {
    @apply font-base text-foreground bg-background;
    height: 100%;
    width: 100%;
    background-image: url('https://res.cloudinary.com/dmukukwp6/image/upload/keyboard_garden_bg_light_03a349af5c.png');
    background-size: 100px 100px;
    background-repeat: repeat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@custom-variant data-pressed (&[data-pressed]);
