@theme inline {
  @keyframes hat-idle {
    0%,
    89.5% {
      top: 0;
    }

    /* duck */
    89.51%,
    90.7% {
      top: 2px;
    }
    90.71%,
    91.8% {
      top: 0px;
    }

    /* jump */
    91.81%,
    93% {
      top: 2px;
    }
    93.01%,
    94.15% {
      top: 0px;
    }
    94.16%,
    95.3% {
      top: -7px;
    }
    95.31%,
    96.3% {
      top: -9px;
    }
    96.31%,
    97% {
      top: -11px;
    }
    97.01%,
    97.7% {
      top: -9px;
    }
    97.71%,
    98.4% {
      top: -5px;
    }
    98.41%,
    100% {
      top: 0px;
    }
  }

  @keyframes player-idle {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: calc(-1 * var(--player-width-scaled) * 86);
    }
  }

  @keyframes player-walk {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: calc(-1 * var(--player-width-scaled) * 11);
    }
  }

  @keyframes player-admin-hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(calc(360deg * var(--is-admin, 0)));
    }
  }
}

@utility hat {
  background-image: url('../assets/sprites/hats/hats.png');
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
  background-position-y: 0;
  background-position-x: calc(-1 * var(--player-width-scaled) * var(--hat-index, 0) + var(--hat-offset, 0));
  image-rendering: pixelated;
  width: var(--player-width-scaled);
  height: var(--player-height-scaled);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center bottom;
}

@utility player {
  @apply hitbox;
  --base-movement-speed: 1;
  --movement-speed: calc(var(--base-movement-speed) + (var(--is-running, 0) * 1.5));
  --facing-dir: 1;
  --hat-offset: 3px;
  --animation-speed: 7000ms;
  --hue-speed: 500ms;
  --ty: var(--player-offset-y-scaled);

  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
  background-position-y: 0;
  image-rendering: pixelated;
  width: var(--player-width-scaled);
  height: var(--player-height-scaled);
  background-repeat: no-repeat;
  background-size: cover;
  translate: -50% -50%;
  transform-origin: center bottom;
  will-change: transform;
  transform: translate3d(var(--tx, 0), var(--ty, 0), var(--tz, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0))
    rotateZ(var(--rz, 0)) skewX(calc(var(--skx, 0deg) * var(--movement-speed))) skewY(var(--sky, 0deg))
    scale3d(calc(var(--sx, 1) * var(--facing-dir, 1)), var(--sy, 1), var(--sz, 1));

  &[data-is-admin='true'] {
    --is-admin: 1;
  }
}

@utility player-idle {
  background-image: url('../assets/sprites/main/idle.png');
  animation:
    player-idle var(--animation-speed) steps(86) infinite,
    player-admin-hue var(--hue-speed) infinite;

  & > .hat {
    animation: hat-idle var(--animation-speed) steps(86) infinite;
  }
}

@utility player-walk {
  background-image: url('../assets/sprites/main/walk.png');
  animation:
    player-walk calc(900ms / var(--movement-speed)) steps(11) infinite,
    player-admin-hue var(--hue-speed) infinite;

  & > .hat {
    --hat-offset: 0px;
  }
}
