@utility scene-node-popover-trigger {
  --node-anchor-x-scaled: calc(var(--node-anchor-x) * var(--scene-world-unit-x));
  --node-anchor-y-scaled: calc(var(--node-anchor-y) * var(--scene-world-unit-y));

  transform: translate3d(var(--node-anchor-x-scaled), var(--node-anchor-y-scaled), 0);

  position: absolute;
  top: 0;
  left: 0;
}

@utility scenery-asset {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  will-change: transform, translate, scale;
  position: relative;
  overflow: hidden;
  transform-origin: top left;
  image-rendering: pixelated;
}

@utility scene {
  @apply scenery-asset;
  width: var(--scene-width-scaled);
  height: var(--scene-height-scaled);
  background-color: #111220;
  transform: translate3d(var(--scene-tx, 0), 0, 0);

  &[data-scene='main'] {
    background-image: url('../assets/sprites/scenes/main.png');
  }

  &[data-scene='tour'] {
    background-image: url('../assets/sprites/scenes/evolution.png');
  }
}

@utility asset {
  @apply scenery-asset;
  --attr-w: attr(data-width type(<number>), var(--w));
  --attr-h: attr(data-height type(<number>), var(--h));
  width: calc(var(--attr-w) * var(--scale, 1) * 1px);
  height: calc(var(--attr-h) * var(--scale, 1) * 1px);
}

@utility scene-elements {
  will-change: transform;
  transform: translate3d(var(--scene-tx, 0), 0, 0);
}

@utility hitbox {
  &:after {
    @apply border-2 border-red-500;
    filter: unset;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, calc(0.3 * var(--collided, 0)));
  }

  &.player {
    &:after {
      --phw: var(--player-hitbox-width-scaled, 100%);
      --phh: var(--player-hitbox-height-scaled, 100%);
      top: calc((var(--player-height-scaled) - var(--phh)) / 2);
      left: calc((var(--player-width-scaled) - var(--phw)) / 2);
      width: var(--phw);
      height: var(--phh);
    }

    &[data-me='true']:after {
      @apply border-2 border-green-500;
      background-color: rgba(0, 255, 0, calc(0.3 * var(--collided, 0)));
    }
  }
}

@utility marker {
  @apply absolute perspective-midrange origin-center top-0 left-0 transform-3d;

  width: var(--node-width);
  height: var(--node-height);
  transform: translate3d(var(--node-tx), var(--node-ty), 0);

  & > * {
    @apply transform-3d absolute top-0 left-0 size-full origin-center game-transform transition-[scale] ease-in-out duration-300;
    @apply animate-spinY;

    --rx: -20deg;
    --prism-radius: calc(var(--node-width) / 2);
    --wave-phase: 0deg;
    --single-side-angle: calc(360deg / var(--len, 1));

    --side-width: calc(var(--node-width) * sin(180deg / var(--len, 1)));
    --side-offset: calc((var(--node-width) - var(--side-width)) / 2);
    --side-apothem: calc(var(--prism-radius) * cos(180deg / var(--len, 1)) - 1px);
    --side-static-h-fraction: 0.7;
    --side-static-h: var(--node-height) * var(--side-static-h-fraction);
    --side-wave-amplitude: calc(1 - var(--side-static-h-fraction));

    scale: calc(1 + var(--collided, 0) * 0.3);
    animation-delay: calc(var(--delay) * -500ms);
    animation-duration: calc(10s - (var(--collided, 0) * 5s));

    /* Prism side */
    & > * {
      @apply absolute will-change-transform bg-ph-mustard-yellow border-shade-ph-mustard-yellow/10;
      /*@apply shadow-[0px_0px_10px_10px_var(--ph-mustard-yellow)];*/
      @apply animate-flactuate-height;

      --angle: calc(var(--i) * var(--single-side-angle));
      --wave-angle: calc((var(--i) + 0.5) * var(--single-side-angle));
      --wave: calc((cos(var(--wave-angle) + var(--wave-phase)) + 1) / 2);
      --sy: calc(var(--side-static-h-fraction) + var(--wave) * var(--side-wave-amplitude));
      filter: brightness(110%);
      width: var(--side-width);
      height: var(--node-height);
      transform-origin: bottom center;
      transform: translateX(var(--side-offset)) scaleY(var(--sy)) rotateY(var(--angle)) translateZ(var(--side-apothem));
      border-radius: 26px 26px 0 0;
      border-width: 1px 1px 0 0;
      box-shadow: 0px 0px calc(10px + var(--collided, 0) * 10px) 1px var(--ph-mustard-yellow);
      text-shadow: 0px 0px calc(10px + var(--collided, 0) * 10px) 1px var(--ph-mustard-yellow);
      animation-delay: calc(var(--i) * -300ms);
    }

    /* Bottom polygon */
    &:after {
      @apply absolute top-1/2 left-1/2 bg-ph-mustard-yellow;
      content: '';
      width: calc(var(--node-width) * 1);
      height: calc(var(--node-width) * 1);
      overflow: hidden;
      transform: translate(-50%, -50%) translateY(calc(var(--node-height) / 2)) rotateX(90deg);
      clip-path: var(--bottom-clip-path);
      filter: brightness(calc(120% + var(--collided, 0) * 20%));
    }
  }
}
