@utility v-* {
  --v-color: --value(--color-*, [*]);
}

@utility text-scaled-* {
  font-size: calc(--value(--text-*, [length]) * var(--scale));
}
@utility w-scaled-* {
  width: calc(--spacing(--value(integer)) * var(--scale));
}

@utility h-scaled-* {
  height: calc(--spacing(--value(integer)) * var(--scale));
}

@utility size-scaled-* {
  width: calc(--spacing(--value(integer)) * var(--scale));
  height: calc(--spacing(--value(integer)) * var(--scale));
}

@utility border-scaled-* {
  border-width: calc(--value(integer, [length]) * var(--scale) * 1px);
}

@utility typing {
  width: calc(min-content + 1rem);
  position: relative;
  &:after {
    @apply overflow-hidden align-bottom absolute top-0 left-full w-0;
    animation: ellipsis steps(5, end) 900ms infinite;
    content: '\2026'; /* ascii code for the ellipsis character */
  }
}

@utility game-transform {
  will-change: transform;
  /* oxfmt-ignore */
  transform:
    translate3d(var(--tx, 0), var(--ty, 0), var(--tz, 0))
    perspective(var(--pp, none))
    rotateX(var(--rx, 0deg))
    rotateY(var(--ry, 0deg))
    rotateZ(var(--rz, 0deg))
    skewX(var(--skx, 0deg))
    skewY(var(--sky, 0deg))
    scale3d(var(--sx, 1), var(--sy, 1), var(--sz, 1));
}

@utility comic {
  --b80: color-mix(in oklch, var(--comic-color, currentColor), var(--comic-shadow-color, black) 80%);
  --b50: color-mix(in oklch, var(--comic-color, currentColor), var(--comic-shadow-color, black) 50%);
  --s: 0.015em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--comic-color, currentColor);
  text-shadow:
    var(--s) var(--s) 0 var(--b80),
    calc(var(--s) * 2) calc(var(--s) * 2) 0 var(--b50),
    calc(var(--s) * 3) calc(var(--s) * 3) 0 var(--b50),
    calc(var(--s) * 4) calc(var(--s) * 4) 0 var(--b50),
    calc(var(--s) * 5) calc(var(--s) * 5) 0 var(--b80);
}

@utility comic-* {
  --comic-color: --value(--color-*, [*]);
}
@utility comic-shadow-* {
  --comic-shadow-color: --value(--color-*, [*]);
}

@utility overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
